* text=auto

*.rs text eol=lf
*.toml text eol=lf
*.lock text eol=lf
*.md text eol=lf
*.json text eol=lf
*.stl text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
CODEOWNERS text eol=lf

*.ps1 text eol=crlf
*.psd1 text eol=crlf
*.psm1 text eol=crlf
